.authContainer{
    height: 100%;
    width: 100%;
    background-image: url(../../resources/imgs/cityCarv2.jpg);
    background-position: center;
    background-size: cover;
    /* position: absolute; */
}

.authCard {
    background-color: rgba(255, 255, 255, 0.8);
}

.tabs{
    background-color: rgba(255, 255, 255, 0.0);
}

.tab{
    background-color: rgba(255, 255, 255, 0.0);
}

.tabs .indicator{
    background-color: rgb(0, 128, 128);
}

.tabs .tab a{
    color:rgb(0, 128, 128)!important;
}

.tabs .tab a:focus, .tabs .tab a:focus.active{
    background-color: rgba(0, 128, 128, 0.3)!important;
}
