.imgsize {
    width: 40px;
    height: 40px;
}

.light{
    background-color: rgb(255, 255, 255)!important;
    color: black!important;
}

.dark{
    background-color: rgb(138, 138, 138);
    color: rgb(48, 48, 27)!important;
}

.stock{
    padding: 0px;
}
.header{
    text-align: center;
    color: #fff;
    background-image: url(../../resources/imgs/cdproject.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.title{
    font-size: 5rem;
    font-family: Cyber2077;
    color: rgb(255, 255, 0);
    text-shadow: 2px 2px rgb(0, 255, 255);
    text-transform: uppercase;
}

.titleSecond{
    font-size: 4rem;
    font-family: Cyber2077;
    color: rgb(255, 255, 0);
    text-shadow: 2px 2px rgb(0, 255, 255);
    text-transform: uppercase;
}

.headerContent{
    padding: 200px;
}

.paragraph{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}