.input-field label {
  color: rgb(31, 194, 31);
}
.input-field input[type="text"]:focus + label.active {
  color: rgb(37, 37, 43);
}
.input-field input[type="text"]:focus {
  border-bottom: 1px solid rgb(20, 33, 219);
  box-shadow: 0 1px 0 0 rgb(20, 33, 219);
}
.input-field input[type="text"]:focus {
  border-bottom: 1px solid rgb(20, 33, 219);
  box-shadow: 0 1px 0 0 rgb(20, 33, 219);
}
.input-field input[type="text"].valid {
  border-bottom: 1px solid rgb(20, 33, 219);
  box-shadow: 0 1px 0 0 rgb(20, 33, 219);
}
.input-field input[type="text"].invalid {
  border-bottom: 1px solid rgb(199, 19, 43);
  box-shadow: 0 1px 0 0 rgb(20, 33, 219);
}
.input-field .prefix.active {
  color: rgb(20, 33, 219);
}
