.imgContainer{
    position: relative!important;
    z-index: -1!important;

}

.socialA{
   position: absolute!important;
    z-index: 2!important;
    top: 50%!important;
    left: 80%!important;
}

.socialImg{
    width: 40px;
    height: 40px;
}
